---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/card";


const allPosts = await getCollection("posts");
---
<Layout title="blog | henri">
    <div class="h-full w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 m-10 gap-5">
        {
            allPosts.map((post) => (
                <Card>
                    <h2 class="text-3xl">{post.data.title}</h2>
                </Card>
            ))
        }
    </div>
</Layout>