---
import Layout from '../layouts/Layout.astro';
---

<Layout title="henri">
	<main>

		<section class="h-screen" style={{"min-height": "100dvh"}}>
			<h2>henri</h2>
			<p>I'm a <a href="/skills">dev</a> from germany, writing code for 3 years.</p>
		</section>
	</main>
</Layout>

