---
import Layout from '../layouts/Layout.astro';
import Card from "../components/card"
---

<Layout title="henri">
	<main>
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 m-10 gap-5">
			<Card className="aspect-[2] sm:col-span-2 rounded-md bg-[#121212] ">
				<h2 class="text-4xl ">henri</h2>
				<p>a german webdev, working both in front- and backend.</p>
			</Card>
			<div class="aspect-square">hey</div>
			<div class="aspect-square">hey</div>
			<div class="aspect-square">hey</div>
			<div class="aspect-square">hey</div>
			<div class="aspect-square">hey</div>
		</div>
	</main>
</Layout>

