---
import Layout from '../layouts/Layout.astro';
import Card from "../components/card"
---

<Layout title="henri">
	<main>
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 m-10 gap-5">
			<Card client:load className="aspect-[2] sm:col-span-2  ">
				<h2 class="text-4xl ">henri</h2>
				<p>a german webdev, working both in front- and backend.</p>
			</Card>
			<Card client:load className="aspect-square">project 1</Card>
			<Card client:load className="aspect-square">project 2</Card>
			<Card client:load className="aspect-[2] sm:col-span-2">featured blogpost</Card>
			<Card client:load className="aspect-square">blogpost 2</Card>
			<Card client:load className="aspect-square">my tools</Card>
			<div class="flex flex-col justify-center items-center">
				<p>made by <a href="https://github.com/i-am-henri">henri</a>.</p>
				<p>inspired by <a href="https://chester.how">chester</a>.</p>
			</div>
		</div>
	</main>
</Layout>

